<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>expense_tracker.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>72B54779299D7B4A0023A1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72B5478A299D7B4B0023A1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>72B54794299D7B4B0023A1D1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
